[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:mpabegg/dotnvim.git
[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = git@github.com:mpabegg/dottmux.git
