[submodule "tmux"]
	path = tmux
	url = git@github.com:mpabegg/dottmux.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:mpabegg/dotnvim.git
[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm
